<div class="container">
    <h3 mat-dialog-title *ngIf="flagArtDialog == 1">Dodavanje usluge</h3>
    <h3 mat-dialog-title *ngIf="flagArtDialog == 2">Modifikacija usluge:
        {{data.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flagArtDialog == 3">Brisanje usluge:
        {{data.naziv}}</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Naziv" [(ngModel)]="data.naziv"
                    name="naziv" [disabled]="flagArtDialog == 3" required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Datum Ugovora"
                    [(ngModel)]="data.datum_ugovora" name="Datum Ugovora"
                    [disabled]="flagArtDialog == 3" required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Provizija"
                    [(ngModel)]="data.provizija" name="Provizija"
                    [disabled]="flagArtDialog == 3" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-select [(ngModel)]="data.filijala" placeholder="Filijala"
                    name="filijala" [compareWith]="compareTo"
                    [disabled]="flagArtDialog == 4">
                    <mat-option *ngFor="let filijala of filijale" [value]="filijala">
                        {{ filijala.adresa }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form">
             <mat-form-field>
                <mat-select [(ngModel)]="data.korsinik_usluge" placeholder="Korisnik Usluge"
                    name="korisnik_usluge" [compareWith]="compareTo"
                    [disabled]="flagArtDialog == 5">
                    <mat-option *ngFor="let korisnik of korsniciUsluge" [value]="korisnik">
                        {{ korisnik.ime }} {{ korisnik.prezime }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Opis Usluge"
                    [(ngModel)]="data.opis_usluge" name="Opis Usluge"
                    [disabled]="flagArtDialog == 3" required>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button *ngIf="flagArtDialog==1" type="submit"
                (click)="add()" [disabled]="!formControl.valid">Sačuvaj</button>
            <button mat-raised-button *ngIf="flagArtDialog==2" type="submit"
                (click)="update()"
                [disabled]="!formControl.valid">Sačuvaj</button>
            <button mat-raised-button *ngIf="flagArtDialog==3" type="submit"
                (click)="delete()">Obriši</button>
            <button mat-raised-button (click)="cancel()">Poništi</button>
        </div>
    </form>
</div>
